**/node_modules/**
**/dist/**
**/dist-types/**
**/storybook-static/**
**/coverage/**
**/build/**
**/.git/**
**/public/**
*.json
*.ico
*.html
*.png
*.jpeg
*.jpg
*.pdf
*.xml
*.svg
*.md
*.txt

config-overrides.js